body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.form-box {
    padding: 20px;
    background: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

input {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

button {
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

.card-box {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    width: 150px;
    height: 100px;
    background: white;
    box-shadow: 0 0 10px #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
