<!DOCTYPE html>
<html>
    <style>
        body{
            background-color:lightcoral;
            
        }
        a{
            height:10px;
            text-decoration:none;
            
            
        }
        h3{
            color:gre;
        }
        div{
            background-color:white;
        }
    </style>
<body style="background:#f0f0f0; font-family:Arial;">

<h3>CUPBOARD</h3>
<div>
<a href="samplewebsite.html" target="contentFrame" >Home</a><br><br>
<a href="about.html" target="contentFrame">About</a><br><br>
<a href="contact.html" target="contentFrame">Contact</a><br><br>
</div>

</body>
</html>
